@import '~nav-frontend-core/less/_variabler';

@sirkel-diameter: 1.1em;

.antall-ulest-sirkel {
  display: inline-block;

  background: @navRod;
  border-radius: 1em;
  color: white;

  height: @sirkel-diameter;
  line-height: @sirkel-diameter;
  min-width: @sirkel-diameter;
  width: fit-content;
  padding: 0 0.2em 0;

  text-align: center;
  position: absolute;
  top: 0.8rem;
  left: 1.8rem;

}
