.tittel-med-ikon {
  display: flex;
  align-items: center;
}
.tittel-med-ikon__ikon {
  width: 1.5rem;
  margin-right: 1rem;
}
.tittel-med-ikon-container{
  display: flex;
  align-items: flex-start;
  width: 3rem;
}