
.siste_saker {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    grid-template-rows: auto auto;
    grid-template-areas:
        "ikon header"
        "ikon undertekst";
    align-items: center;
    row-gap: 0px;
    column-gap: 16px;
}

@media (max-width: 768px) {
    .saker-lenke {
        min-width: 100%;
    }

    .siste_saker_valg_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.saker-lenke__ikon{
    grid-area: ikon;
}

.saker-lenke__ikon svg {
    pointer-events: none;
}

.saker-lenke__ekspander-knapp {
    grid-area: ekspander_kollaps;
}

.saker-lenke_headerlenke {
    grid-area: header;
}



.saker-lenke__undertekst {
    grid-area: undertekst;
    display: flex;
    gap: 8px;

}