@import '~nav-frontend-core/less/_variabler';

@height: 48px;
@padding-y: 4px;
@padding-x: 12px;

.varselbjelle-knapp {
    background-color: transparent;
    float: right;
    border: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: 2px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @navBla;
    padding: @padding-y @padding-x;

    &:focus {
        background-color: transparent;
        color: @navBla;
        outline: none;
        box-shadow: 0 0 0 4px @fokusFarge;
        border-radius: 4px;
        border-color: transparent;
    }

    &__understrek{
        width:3rem;
        height: 4px;
        margin-top: 1rem;
        background-color: @navBla;
    }

    &:hover {
        outline: 1px black solid;
        cursor: pointer;
    }


}

