@import '~nav-frontend-core/less/_variabler';

.hovedside-mine-ansatte {
  padding: 1rem;

  &__innholdstittel {
    margin: 2rem;
  }

  &__innhold {
    border-radius: 4px;
    background-color: white;
    margin: 0 2rem 0 2rem;
    padding: 1rem;

  }

  &__systemtittel {
    margin: 0 2rem 0 2rem;
    color: black;
  }
}

@media (max-width: @screen-md) {
  .hovedside-mine-ansatte {
    padding: 0rem;

    &__innhold {
      border-radius: 4px;
      background-color: white;
      margin: 0rem;
      padding: 0rem;

    }

    &__systemtittel {
      margin: 2rem;
    }
  }

}








