@import '~nav-frontend-core/less/_variabler';

.tiltakboks {
  @media (min-width: 520px  ) {
    .tekstMedTallContainer {
      height: 6rem;
    }
  }
  @media (min-width: @screen-sm  ) {
    .tekstMedTallContainer {
      height: auto;
    }
  }
  @media (min-width: @screen-md  ) {
    .tekstMedTallContainer {
      height: 6rem;
    }
  }

  .tekstMedTallContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    .antall {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

  .avsnitt {
    margin-bottom: 1rem;
  }

  .tekst {
    margin-right: 2rem;
  }
}
