@media (min-width: 520px) {
  .tiltakboks .tekstMedTallContainer {
    height: 6rem;
  }
}
@media (min-width: 768px) {
  .tiltakboks {
    /* @screen-sm */
  }
  .tiltakboks .tekstMedTallContainer {
    height: auto;
  }
}
@media (min-width: 992px) {
  .tiltakboks {
    /* @screen-md */
  }
  .tiltakboks .tekstMedTallContainer {
    height: 6rem;
  }
}
.tiltakboks .tekstMedTallContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.tiltakboks .tekstMedTallContainer .antall {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.tiltakboks .avsnitt {
  margin-bottom: 1rem;
}
.tiltakboks .tekst {
  margin-right: 2rem;
}
