.arbeidsgivertelefon {
  width: 26rem;
  height: 9rem;
  margin: 1rem;

  &__icon {
    width: 5rem;
    height: 5rem;
    margin-top: 0.7rem;
  }

  &__innhold {
    display: flex;
    flex-direction: row;
  }

  &__nrOgTidspunkt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
  }

  &__nummer {
    color: black;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    font-weight: 600;
    margin-top: 0.7rem;
  }
}