@import '~nav-frontend-core/less/_variabler';

.arbeidsgivertelefon {
  height: 9rem;
  margin: 1rem;
  width: 23rem;

  &__icon {
    height: 5rem;
    margin: 1rem;
  }

  &__innhold {
    display: flex;
    flex-direction: row;
  }

  &__nrOgTidspunkt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
  }

  &__nummer {
    margin-top: 0.7rem;
  }
}

@media (min-width: @screen-sm-min) {
  .arbeidsgivertelefon {
    height: 12rem;
    width: 29rem;
    margin:1rem;
  }

}
