.tjenesteboks-container {
    .tjenesteboks {
        background-color: white;
        margin-bottom: 2rem;

        &__storttall{
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 500;
            margin-right: 0.5rem;
        }

        .tjenesteboks-innhold {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 14rem;

            .lenkepanel {
                height: 13rem;
                margin-bottom: 0;
            }
        }
    }
}



@media (min-width: 768px) { /* @screen-sm */
    .tjenesteboks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &.antall-en {
            .tjenesteboks {
                flex-grow: 1;

                .tjenesteboks-innhold {
                    height: 12rem;
                }
                &__lenkepanel {
                    height: 11rem;
                }
            }
        }

        &.antall-partall, &.antall-oddetall {
            .tjenesteboks {
                width: 49%;

                .tjenesteboks-innhold {
                    height: 13rem;
                }

                &__lenkepanel {
                    height: 12rem;
                }
            }
        }
    }
}