@import '~nav-frontend-core/less/_variabler';

.tjenesteboks-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    .tjenesteboks {
        display: inline-block;
        width: 100%;
        background-color: white;
        margin-bottom: 2rem;

        .tjenesteboks-innhold {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 13rem;

            .lenkepanel {
                height: 12rem;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    .tjenesteboks-container {
        flex-direction: row;
        width: 60rem;
        flex-wrap: wrap;
        padding: 0;

        &.antall-partall {
            .tjenesteboks {
                width: 29.5rem;
            }

            .tjenesteboks:nth-child(1),
            .tjenesteboks:nth-child(3),
            .tjenesteboks:nth-child(5) {
                margin-right: 1rem;
            }
        }

        &.antall-en {
            .tjenesteboks {
                flex-grow: 1;
            }
        }

        &.antall-oddetall {
            .tjenesteboks {
                width: 19.3rem;
            }

            .tjenesteboks:nth-child(1),
            .tjenesteboks:nth-child(2),
            .tjenesteboks:nth-child(4),
            .tjenesteboks:nth-child(5) {
                margin-right: 1rem;
            }
        }
    }
}
