

.tjenesteboks-container {
    display: flex;
    width: 69rem;
    flex-wrap: wrap;

    .tjenesteboks {
        margin: 1rem;
        padding: 1rem;
        background-color: white;
    }


    &.antall-partall {
        .tjenesteboks {
                width: 32.5rem;
                max-height: 10rem;
            }
        }

    &.antall-en {
        .tjenesteboks {
            display: flex;
            flex-grow: 1;
        }
    }

    &.antall-oddetall {
        .tjenesteboks {
                width: 21rem;
        }
    }


}