{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["*.js"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:jsx-a11y/recommended"],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": [2, {
      "allowString": false
    }]
  }
}