@import '~nav-frontend-core/less/_variabler';

.innloggingsside {
  flex-direction: column;
  display: flex;
  background-color: @navLysGra;
  height: 55rem;


  &__tekst {
    flex-direction: column;
    width: 35rem;
    display: flex;
    background-color: @navLysGra;
    height: 55rem;
    padding: 2.5rem 6.5rem 1.75rem;
    align-self: center;
  }

  &__overtekst {
    margin-bottom: 1rem;
  }

  &__loginKnapp {
    margin-top: 4rem;
    align-self: center;
  }
}