@import '~nav-frontend-core/less/_variabler';

.innloggingsside {
  flex-direction: column;
  display: flex;
  background-color: @navLysGra;
  height: 55rem;
  text-align: center;


  &__overtekst {
    margin-bottom: 1rem;
  }

  &__loginKnapp {
    margin-top: 4rem;
    margin-bottom: 2rem;
    align-self: center;
  }
  &__besok-ditt-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
  }
}