@import '~nav-frontend-core/less/_variabler';

.valg {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  padding-top: 1px;
  text-align: center;
  background-color: @navLysGra;
  color: black;
  align-self: center;
  margin: 0 0.5rem 0 0.5rem;

  &:focus {
    z-index: 16;
    background-color: @navBlaLighten80;
    outline: none;
    box-shadow: 0 0 0 3px @fokusFarge;
  }

  &__sidetall {
    font-size: 14px;

  }
}

&:focus {
  z-index: 16;
  background-color: @navBlaLighten80;
}

.indeks-valg {
  &__sidetall {
    font-size: 14px;

  }
}

.valg-appear {
  opacity: 0.01;
}

.valg-appear.valg-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}











