.mangler-tilgang-bakgrunn {
  display: flex;
  flex-direction: column;
  background-color: var(--navds-global-color-gray-100);
  align-items: center;
  align-self: center;
  width: 100%;
  padding-top: 2.5rem;
}
.mangler-tilgang-bakgrunn__innholdstittel {
  align-self: flex-start;
  padding-left: 1rem;
}
.mangler-tilgang-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem 2rem;
}
.mangler-tilgang-lenkepanel {
  width: 100%;
}
@media (min-width: 992px) {
  .mangler-tilgang-bakgrunn {
    width: 62rem;
  }
  .mangler-tilgang-bakgrunn__innholdstittel {
    align-self: flex-start;
    padding-left: 1rem;
  }
  .mangler-tilgang-container {
    flex-direction: row;
    width: 100%;
  }
  .mangler-tilgang-lenkepanel {
    flex-grow: 1;
    margin-right: 2%;
  }
}
