@import '~nav-frontend-core/less/_variabler';

.tilskuddsbrev {

  .ekspanderbartPanel__hode {
    padding: 1.5rem 1rem 1rem;
  }

  &__tittel {
    display: flex;
    align-items: center;
  }

  &__inboxikon {
    width: 3rem;
  }

  &__liste {
    padding: 0;
  }

  &__liste-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    @media (min-width: @screen-md-min) {
      flex-direction: row;
    }
  }

  &__dato {
    width: 10rem;
  }

  &__ulest-lenke {
    font-weight: bold;
  }
}
