.tilskuddsbrev .ekspanderbartPanel__hode {
  padding: 1.5rem 1rem 1rem;
}
.tilskuddsbrev__tittel {
  display: flex;
  align-items: center;
}
.tilskuddsbrev__inboxikon {
  width: 3rem;
}
.tilskuddsbrev__liste {
  padding: 0;
}
.tilskuddsbrev__liste-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
@media (min-width: 992px) {
  .tilskuddsbrev__liste-element {
    flex-direction: row;
  }
}
.tilskuddsbrev__dato {
  width: 10rem;
}
.tilskuddsbrev__ulest-lenke {
  font-weight: bold;
}
