.lenkepanelKontaktOss {
  width: 26rem;
  margin: 1rem;
}

.kontaktNAV {
  display: flex;
  align-items: center;

  &__ikonKontakNAV {
    height: 5rem;
    width: 5rem;
  }

  &__tekst {
    margin: 0.7rem;
  }

  &__chevron {
    margin-left: 2.5rem;
  }
}