.be-om-tilgang__tjenesteinfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--navds-global-color-gray-400);
    border-radius: 4px;
    width: 100%;

    @media (min-width: 992px) { /* @screen-md-min */
        width: 49%;
        height: 11.5rem;
    }

    .be-om-tilgang-lenke, .tilgang-sokt {
        margin-bottom: 0.3rem;
    }

    .tilgang-sokt .tilgang-sokt-etikett {
      margin-left: 1em;
    }

    .tilgang-sokt .tilgang-sokt-etikett .tilgang-sokt-hjelp {
      margin-left: .4em;
      & .hjelpetekst__apneknapp {
        vertical-align: middle;
        & .hjelpetekst__ikon {
          fill: #000;
        }
      }
    }
}
