.saksoversikt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--a-gray-100);
  margin: 1rem;
  padding: 1rem 0;
  grid-column-start: 3
}
@media (min-width: 1024px) {
  .saksoversikt {
    width: 60rem;
    margin: 0 1rem;
  }
}

.saksoversikt__innhold {
  display: grid;
    grid-template-columns: 1fr 22rem 62rem 22rem 1fr;
  margin: 0 auto;
}

.saksoversikt__header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.saksoversikt__hjelpetekst {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
}
.saksoversikt__knapp {
  display: flex;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: var(--a-blue-500);
}
.saksoversikt__knapp:hover {
  text-decoration: none;
}
.saksoversik__saksliste-header,
.saksoversik__saksliste-footer {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.saksoversik__saksliste-footer {
  flex-wrap: wrap-reverse;
}

.saksoversikt__sortering {
  grid-template-columns: auto auto;
  align-items: center;
}
