.informasjonsboks {
  display: flex;
  border: 2px solid var(--a-blue-200);
  width: 20rem;
  padding: 1rem;
}
.informasjonsboks__tekst {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.1rem;
}
.informasjonsboks__tekst .lenke {
  margin-top: 1rem;
}
