
@import '~nav-frontend-core/less/_variabler';



.informasjonsboks {
  display: flex;
  border: 2px solid @navBlaLighten60;
  text-align: left;
  width: 20rem;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem 0 1rem 0;

  &__lenke {
    margin-top: 1rem
  }

  &__tekst {
    margin-left: 1rem;
  }

  &__overskrift {
    margin-bottom: 1rem;
  }

}
