@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.syfoboks {
  display: flex;
  align-items: center;

  &__icon {
    height: 6rem;
    margin: 1rem;
    width: 7rem;
  }

  &__tekst {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
  }
}

@media (min-width: @screen-sm-min) {
  .syfoboks {
    display: flex;
    align-items: center;

    &__tekst {
      display: flex;
      height: 7rem;
      flex-direction: column;
      align-items: stretch;
      margin: 2rem;

    }
  }

}