@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.tjeneste-boks-banner {
  display: flex;
  background-color: @navDypBlaLighten80;
  align-self: stretch;
  height: 6rem;
  padding: 0.5rem;

  &__ikon {
    align-self: flex-end;
    height: 3.5rem;
    margin-right: 0.5rem;
  }

  &__tittel {
    align-self: center;
  }

}