@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.tjeneste-boks-banner {
    display: flex;
    background-color: var(--navds-global-color-blue-100);
    align-self: stretch;
    align-items: center;
    height: 4rem;
    border-radius: 4px 4px 0 0;
    padding-left: 1rem;
    flex-shrink: 0;
    position: relative;

    &__ikon {
        height: 1.5rem;
        align-self: center;
        margin-right: 1rem;
    }

    &__tittel {
        align-self: center;
    }
}

@media (min-width: @screen-md-min) {
    .tjeneste-boks-banner {
        padding-left: 1.5rem;
    }
}
