
.Informasjon-om-bedrift{
  width: 50rem;
  height:40rem;
  background-color: white;
  align-self: center;
  display: flex;
  padding: 1rem;

  &__foerstekolonne {
    display: flex;
    flex-direction: column;
  }

  &__andrekolonne {
    display: flex;
    flex-direction: column;
  }
}