@import '~nav-frontend-core/less/_variabler';

.informasjon-om-bedrift{
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;


  &__forstekolonne {
    width: 20rem;
  }


  &__andrekolonne {
    width : 20rem;

  }

  &__naeringskoder {
    margin-bottom: 1rem;
  }
}

@media (min-width: @screen-sm-min) {
  .informasjon-om-bedrift {
    background-color: white;
    align-self: center;
    display: flex;
    padding: 1rem;

  }&__forstekolonne {
     display: flex;
     flex-direction: column;
     width: 30rem;
   }


  &__andrekolonne {
    display: flex;
    flex-direction: column;
    width : 30rem;

  }
}


