@import '~nav-frontend-core/less/_variabler';

.informasjon-om-bedrift {
    margin: 0 1rem 4rem;

    &__hvitboks {
        width: 100%;
        background-color: white;
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 4rem;
    }

    .ny-fane-ikon {
        margin-top: 3px;
    }
}

@media (min-width: @screen-md-min) {
    .informasjon-om-bedrift {
        width: 60rem;
        margin: 0 auto;

        &__hvitboks {
            padding: 2rem;
        }

        hr {
            width: 40rem;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }
    }
}
