.kontaktinfo{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 32rem;
    margin-top: 16px;
}

.kontaktinfo p {
    margin: 0;
}

.kontaktinfo-tittel{
    display: flex;
    align-items: center;
    gap: 8px;
}