@import 'node_modules/nav-frontend-core/less/_variabler';

.varselpanel__lenkepanel {
    border-bottom: @navGra40 1px solid;
    padding-top: .75rem;
    margin: .1rem;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 .1rem @fokusFarge;
        border-radius: .1rem;
    }

    .varsel-innhold {
        margin: 0;

        .varsel-dato-type {
            position: relative;

            .varsel-dato, .varsel-virksomhet {
                margin-bottom: 0.25rem;
            }

            .varsel-type {
                position: absolute;
                right: 0;
                top: -0.2rem;
                background-color: @navLysGra;
                border-radius: 4px;
                padding: 0.3rem 0.5rem;
                font-weight: 800;
            }
        }

        .varsel-lenketekst {
            display: flex;
            padding: 0;

            .varsel-ikon {
                width: 3.375rem;
                margin-right: 1rem;
            }

            .varsel-beskjed {
                width: 17rem;

                &--ulest {
                    font-weight: 800;
                }
            }
        }
    }
}
