@import 'node_modules/nav-frontend-core/less/_variabler';

.varsel-dato-type {
  position: relative;

  .varsel-type {
    position: absolute;
    right: -2rem;
    top: -1rem;
    background-color: @navLysGra;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    font-weight: 800;
  }
}

.varsel-innhold {
  margin: 0.5rem 0;

  .varsel-lenketekst {
    display: flex;
    padding: 1rem 0;

    .varsel-ikon {
      width: 54px;
      margin-right: 1rem;
    }
  }
}