.koronaboks__tekst {
  margin: 0.5rem 0;
}
.koronaboks__lenke {
  margin-bottom: 0.5rem;
}
.koronaboks__innhold {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 1rem;
}
