@import '~nav-frontend-core/less/_variabler';

.koronaboks {
  background-color: transparent;

  &__ikon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  &__tekst {
    margin: 0.5rem 0;
  }

  &__lenke {
    margin-bottom: 0.5rem;
  }

  &__innhold {
    padding: 1rem 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @media (min-width: @screen-sm-min) {
    &__innhold {
      padding: 1rem 3.5rem;
    }
  }
}
