@import '~nav-frontend-core/less/_variabler';

.banner {
  display: flex;
  padding-bottom: 2rem;
  background-color: @navBlaLighten80;;
  border-bottom: 4px solid @navBlaLighten60;;
  height: 6rem;
  justify-content: center;

  &__senter {
    width: 66rem;
    background-color: white;
  }

  &__orgnr {
    width: 15rem;
    margin-top: 0.5rem;
  }

  &__select {
    margin: 0rem;

  }

}

@media (min-width: @screen-sm-min) {
  .banner {

    &__select {
      margin-left: 1.5rem;
      width: 20rem;
    }
  }

}







