@import '~nav-frontend-core/less/_variabler';

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: @navDypBlaLighten80;
  border-bottom: 4px solid @navLysBlaDarken40;
  margin-bottom: 1rem;

  &__tittel {
    margin-left: 1rem;

  }

  &__organisasjoner {
    position: absolute;
    right: 0%;
    margin-right: 2rem;
    margin-bottom: 8rem;
  }
}