@import '~nav-frontend-core/less/_variabler';

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @navDypBlaLighten80;
  border-bottom: 4px solid @navLysBlaDarken40;
  height: 7rem;

  &__container {
    width: 66rem;
    align-items: center;
  }

  &__select {
    display: inline-block;
    margin: 1rem;
  }

  &__organisasjoner {
    width: 100%;
    width: max-content;
  }
  &__orgnr {
    margin-left: 0.6rem;

    top:4rem;
  }

  .skjemaelement__input {
    background-color: @navDypBlaLighten80;
    border-radius: 4px;
    border: 1.5px solid @navLysBlaDarken40;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }


  }








