.bedriftsmeny__inner {
  min-height: 4rem;
}
.bakgrunnsside {
  display: flex;
  flex-direction: column;
  background-color: var(--a-gray-100);
  min-height: 100vh;
}
.app-laster-spinner {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
