

.forside {
  display: flex;
  flex-direction: column;
  align-conntent: flex-start;
  background-color: #EFEFEF;

}

.oppgavebokser {
  display: flex;
  flex-direction: row;
  justify-content: center;


}





