.artikkel-util-bildecontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artikkel-util-ingress {
    display: flex;
    flex-direction: column;
    background-color: var(--a-bg-default);
    padding: 40px 40px 20px 40px;
    gap: 20px;
}

.artikkel-innhold {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.artikkel-util-tekstfelt {
    display: flex;
    flex-direction: column;
    background-color: var(--a-bg-default);
    padding: 40px 40px 20px 40px;

    gap: 20px;
}