@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.innsynisak {
  margin-bottom: 1rem;

  &__lenke {
    display: block;
    margin: 0.2rem 0;
  }

  &__tittel {
    margin: 1.5rem 0 1rem;

    .folder-icon {
      margin-right: 0.5rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      flex-grow: 1;
    }
  }
}