@import '~nav-frontend-core/less/_variabler';
.tjeneste-info {
  &__lenke-syfo {
    color: @navBla;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
    border: none;

    &:hover,
    &--hover {
      text-decoration: none;
    }

    &:focus,
    &--focus {
      outline: none;
      color: white;
      text-decoration: none;
      background-color: @fokusFarge;
      box-shadow: 0 0 0 2px @fokusFarge;
    }
  }

}

.modal__overlay {
  padding: 1rem 0;
}

.syfo-modal {
  width: 100%;
  height: 100%;
  border-radius: 0;

  &__innhold {
    padding: 1rem;
  }

  &__tekst {
    margin-bottom: 1rem;
  }

  &__overskrift {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  &__overskrift-og-info {
    display: flex;
    margin: 2rem 0 0.6rem;

    .infoikon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
    .tittel {
      min-width: 10rem;
      font-weight: 600;
    }
  }

}

@media (min-width: @screen-sm) {
  .modal__overlay {
    padding: initial;
  }

  .syfo-modal {
    width: 554px;
    height: initial;
    border-radius: 4px;

    &__innhold {
      padding: 0;
      margin: 2.5rem 1.5rem 1.6rem;
    }

    &__overskrift {
      margin-top: 0;
    }

  }
}