@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.pamboks {
  display: flex;
  flex-direction: column;

  &__rekruttering {
    margin-bottom: 0;
    padding: 0;
  }

  &__heading {
    margin: 0;
  }


  &__stillingsannonser {
    margin: 0;
  }


}
