@import '~nav-frontend-core/less/_variabler';

.pamboks__antall {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.pamboks__bunntekst {
  margin-top: 0.5rem;
}
