@import '../../../../../node_modules/nav-frontend-core/less/_variabler';

.arbeidsgivertelefon {
  height: 8rem;

  &__icon {
    width: 1.25rem;
    height: 1.6rem;
    margin: 0rem 1rem 0rem 0.5rem;
    align-self: center;


  }

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__nrOgTidspunkt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nummer {
    margin-top: 0.7rem;
  }
}

@media (min-width: @screen-sm-min) {


}
