@import '~nav-frontend-core/less/_variabler';

.organisasjons-meny {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__meny-wrapper {
    margin-top: 2rem;
    position:relative;
    background-color: white;
    border: solid 1px #78706a;
  }

  &__meny {
    padding-right: 1rem;
    background-color: white;
  }

  &__vis-valgt{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem 0rem 1rem 0rem;
  }

  &__dine-aktorer {
    margin-bottom: 1rem;
  }

  &__vis-valgt-tekst {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-wrap: nowrap;

  }

  &__wrapper {
    background-color: transparent;
    position: relative;

  }

  &__button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;


  }

  &__organisasjon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
  }

  &:hover {
  }
}

@media (max-width: @screen-md-min) {
  .organisasjons-meny {
    width:18rem;
    margin: 0rem 1rem 0rem 1rem;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0rem;

    &__organisasjon {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

  }

}