@import '~nav-frontend-core/less/_variabler';

.organisasjons-meny {
  position: relative;
  z-index: 10;

  &__meny {
    padding-right: 1rem;
    border-radius: 0.25rem;
  }

  &__chevron {
    position: absolute;
    right: 1.5rem;

  }

  &__wrapper {
    outline: none;
    background-color: white;
    border-radius: 0.25rem;


  }

  &__button {
    width: 20rem;
    display: flex;
    border: 1px solid #826ba1;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem 2rem 0.5rem 1rem;

  }

  &__organisasjon {
    width: 20rem;
    display: flex;
    border-bottom: 0.5px solid @navGra60 ;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.7rem 2rem 0.7rem 1rem;
  }

  &:hover {
  }
}