@import '~nav-frontend-core/less/_variabler';

.informasjon-om-tilgangsstyring {
  flex-direction: column;
  display: flex;
  background-color: @navLysGra;
  height: 55rem;


  &__tekst {
    flex-direction: column;
    margin: 2rem;
    width: 40rem;
    display: flex;
    background-color: white;
    height: 55rem;
    padding: 2.5rem;
    align-self: center;
    border-radius: 4px;
  }
&__innholdstittel {
  margin-bottom: 2rem;
}

  &__arbeidsplassen-tekst {
    margin-bottom: 1rem;
  }

  &__ingress {
    margin-bottom: 1.5rem;
  }

  &__systemtittel {
    margin-bottom: 1rem;
  }

  &__rolle-overskrift {
    margin-bottom: -0.5rem;

  }


}
.ekspanderbartPanel {
  margin-bottom: 1rem;
}

