@import '~nav-frontend-core/less/_variabler';

.informasjon-om-tilgangsstyring {
  flex-direction: column;
  display: flex;
  background-color: @navLysGra;
  height: 55rem;


  &__tekst {
    flex-direction: column;
    width: 50rem;
    display: flex;
    background-color: @navLysGra;
    height: 55rem;
    padding: 2.5rem 6.5rem 1.75rem;
    align-self: center;
  }
}

