@import '~nav-frontend-core/less/_variabler';

.sidebytter {
  display: flex;
  position:absolute;
  right: 40rem;

  &__valg {
    background-color: white;
    border: none;

    :active {
      border: none;
    }
  }
}



.sidebytter-leave {
  opacity: 1;
}

.sidebytter.sidebytter-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sidebytter-appear {
  opacity: 0.01;
}

.sidebytter-appear.sidebytter-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}