// css her inne er bare en hack for å posisjonere lukk knapp inn i alert
// alert har ikke god støtte for en lukkefunksjon P.T.
.digisyfo-bedriftsmeny-info {
    display: flex;
    &__alert {
        flex: 1 1 auto;
    }

    .lukk-knapp {
        position: relative;
        margin-left: auto;
        float: right;
        top: 1rem;
        left: -2rem;
        border: 0;
        width: 1rem;
        height: 1rem;
    }
}
