.forside {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  height: 45rem;

  .boks {
    background-color: white;
    width: 27rem;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    justify-content: space-around;

  }

  .containerSkjemaArbTlfKontakt {
    display:flex;
    justify-content: center;
  }


  .tjenestebokser {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}


