@import '~nav-frontend-core/less/_variabler';

.forside {
  display: flex;
  flex-direction: column;
  background-color: @navLysGra;
  height: 45rem;

  &__tlfOgKontakt {
    display:flex;
    justify-content: center;
  }

  &__foerstekolonne {
    display:flex;
    flex-direction: column;
  }

  &__andrekolonne {
    display:flex;
    flex-direction: column;
  }

  &__tjenestebokser {
    width: 56rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }
}


