.hovedside-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--a-gray-100);
  margin: 1rem;
  padding: 1rem 0;
}
.hovedside-container .notifikasjoner_widget {
  padding: 0 1rem;
  margin: 1rem 0;
  position: relative;
}
@media (min-width: 1024px) {
  .hovedside-container {
    width: 60rem;
    margin: 0 auto 2rem auto;
  }
}
