@import '~nav-frontend-core/less/_variabler';

.sidebytter {
    display: flex;
    align-items: center;

    &__chevron-ikke-vises {
        overflow: hidden;
    }

    &__chevron-vises {
        overflow: visible;
    }

    &__chevron {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: @navGra80;

        &:focus {
            background-color: white;
            outline: none;
            box-shadow: 0 0 0 3px @fokusFarge;
        }
    }

    &__valg {
        cursor: pointer;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        border-radius: 2rem;
        border-color: transparent;
        width: 2rem;
        height: 2rem;
        text-align: center;
        background-color: @navLysGra;
        color: @navBla;
        align-self: center;
        margin: 0 0.5rem 0 0.5rem;

        &:focus {
            background-color: @navBlaLighten80;
            outline: none;
            box-shadow: 0 0 0 3px @fokusFarge;
            color: @navMorkGra;
        }

        &__sidetall {
            font-size: 0.875rem;
        }
    }

    .er-valgt {
        background-color: @fokusFarge;
        color: white;
    }

    .indeks-valg {
        &__sidetall {
            font-size: 14px;
        }
    }

    .valg-appear {
        opacity: 0.01;
    }

    .valg-appear.valg-appear-active {
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }
}
