.logg-inn-banner {
  display: flex;
  flex-direction: row;
  background-color: var(--navds-global-color-blue-100);
  border-bottom: 4px solid var(--navds-global-color-blue-200);
  height: 12rem;
  margin-bottom: 2rem;
  justify-content: space-around;
}
.logg-inn-banner__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60rem;
}
.logg-inn-banner__tittel-og-tekst {
  margin: 2rem 0 0 0;
}
.logg-inn-banner__bilder {
  display: none;
}
@media (min-width: 768px) {
  /* @screen-sm */
  .logg-inn-banner__tittel-og-tekst {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
    height: 5rem;
    justify-content: space-between;
  }
  .logg-inn-banner__bilder {
    display: initial;
    align-self: flex-end;
  }
  .logg-inn-banner__container {
    justify-content: space-around;
    width: 60rem;
  }
}
