@import '~nav-frontend-core/less/_variabler';

.logg-inn-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @navBlaLighten80;
  border-bottom: 4px solid @navBlaLighten60;
  height: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}