.informasjon-om-tilgangsstyring {
  display: flex;
  flex-direction: column;
  background-color: var(--navds-global-color-gray-100);
  min-height: 100vh;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}
.informasjon-om-tilgangsstyring__banner {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 4px solid var(--navds-global-color-blue-200);
}
.informasjon-om-tilgangsstyring__banner-heading {
  display: flex;
  align-items: center;
  width: 60rem;
}
.informasjon-om-tilgangsstyring__banner-heading img {
  margin: 1rem;
  width: 15vw;
  max-width: 5rem;
}
