@import '../../../node_modules/nav-frontend-core/less/_variabler';

.informasjon-om-tilgangsstyring {
  flex-direction: column;
  display: flex;
  background-color: @navLysGra;
  min-height: 100vh;

  &__innhold {
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    margin: 1rem;

  }

  &__tekst {
    flex-direction: column;
    max-width: 40rem;
    display: flex;
    background-color: white;
    padding: 2.5rem;
    border-radius: 4px;
    margin: 2rem;

  }

  &__lenke {
    margin: 2rem;

  }

  &__innholdstittel {
    margin-bottom: 2rem;
  }

  &__arbeidsplassen-tekst {
    margin-bottom: 1rem;
  }

  &__ingress {
    margin-bottom: 1.5rem;
  }

  &__systemtittel {
    margin-bottom: 1rem;
  }

  &__rolle-overskrift {
    margin-bottom: -0.5rem;

  }

  &__bunntekst {
    margin-top: 2rem;
  }

}

.ekspanderbartPanel {
  margin-bottom: 1rem;
}






