.copy-link {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.copy-link a {
  cursor: pointer;
  margin-right: 1rem;
}
.copy-link .alert-show {
  animation: fadeInOut 3s linear 1 forwards;
}
.copy-link .alert-hide {
  opacity: 0;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.paneler-med-innholdsfortegnelse__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}
@media (min-width: 768px) {
  .paneler-med-innholdsfortegnelse__container {
    gap: 1rem;
    flex-direction: row;
    align-items: flex-start;
  }
}

.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel {
  padding-left: 0;
  border: none;
}
@media (min-width: 768px) {
  .paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel {
    position: sticky;
    /*noinspection CssUnresolvedCustomProperty*/
    top: calc(var(--decorator-sticky-offset, 0px) + 1rem);
  }
}
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul li  {
  margin: 0;
  padding: 0 0.5rem;
}
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul  li  a {
  text-decoration: none;
  padding: 0.75rem 0.5rem;
}
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul  li > a:hover {
  background-color: var(--a-blue-50);
  color: var(--a-gray-900);
}

.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul li a:active {
  outline: 3px solid var(--a-blue-800);
}
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul li a:active,
.paneler-med-innholdsfortegnelse__container .paneler-med-innholdsfortegnelse__sidepanel  ul li a.active
{
  outline-offset: -3px;
  box-shadow: -0.5rem 0 var(--a-blue-800);
  color: var(--a-gray-900);
}

.paneler-med-innholdsfortegnelse-menyhead {
  margin-left: 0.5rem;
}

.paneler-med-innholdsfortegnelse__innhold {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paneler-med-innholdsfortegnelse__tekst {
  padding: 2rem;
}
