@import '~nav-frontend-core/less/_variabler';

.sidebytter{

  &__chevron {
    background-color: white;
    border: none;
    color: @navGra80;

    &:focus {
      z-index: 16;
      background-color: white;
      outline: none;
      box-shadow: 0 0 0 3px white;
    }
  }
}