.tilbakemelding-banner {
  margin-bottom: 2.5rem;

  .panel {
    background-color: #f1f1f1;
    margin-bottom: 2rem;

    .innhold {
      margin-left: 2rem;
      display: flex;
      justify-content: space-between;

      .mote-lenke {
        margin-left: 0.5rem;
      }
    }

    .lukk-knapp {
      margin-left: 1rem;
      border: 0;
      width: 1rem;
      height: 1rem;
    }
  }

}
