@import '~nav-frontend-core/less/_variabler';

.arbeidsforhold-table {
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  width: 100%;
  border-collapse: collapse;
}

.tr {
  color: rebeccapurple;
  border-bottom: solid 1px @navGra20;
}


@media (max-width: 760px) {
  th, td, tr{
    display: block;

  }

  .tr {
    border: 1px solid #ccc
  }

  .td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }


}



