@import '~nav-frontend-core/less/_variabler';

.arbeidsforhold-table {
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  width: 100%;
  border-collapse: collapse;

  &__rad {
    color: rebeccapurple;
    border-bottom: solid 1px @navGra20;
  }
}



