ul.saks-liste {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul.saks-liste li {
  flex-grow: 1;
}

.sakscontainer {
  background: var(--a-bg-default);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sakscontainer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.saks-liste .sakscontainer .sakstittel {
  font-size: 1.25rem;
  font-weight: var(--a-font-weight-bold);
}

@media (max-width: 1250px) {
  .sakscontainer {
    grid-template-columns: 1fr;
  }
}

.sakscontainer .sakscontent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.sakstekst {
  line-height: var(--a-font-line-height-heading-xsmall);
  font-size: 1.1rem;
}

.sakscontainer .saksfrist {
  display: flex;
  align-items: center;
  gap:.2rem;
}

.sakscontainer .saksfrist .paminnelse{
  color: var(--a-red-700);
  font-weight: 700;
}

.sakscontainer .neste_steg {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "ikon tittel"
  "linje tittel"
  "linje none";
  column-gap: 8px;
}

.sakscontainer .tidslinje-element {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "tidspunkt tidspunkt"
  "ikon tittel"
  "linje tittel"
  "linje paaminnelse";
  column-gap: 8px;
}

.sakscontainer .tidslinje-element-kalenderavtale {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "ikon tittel"
  "linje tittel"
  "linje paaminnelse";
  column-gap: 8px;
}

.tidslinje-element-tidspunkt {
  grid-area: tidspunkt;
}
.tidslinje-element-ikon {
  grid-area: ikon;
  margin-top: 4px;
}

.tidslinje-element-tittel {
  grid-area: tittel;
}

.tidslinje-element-detaljer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 8px;
}

.oppgave-element-paaminnelse {
  grid-area: paaminnelse;
}

.tidslinje-linje {
  grid-area: linje;
}

.tidslinje-vis-mer-knapp{
  max-width: 8rem;
  padding: 8px 0 0 0;
}


