.saksoversikt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--a-gray-100);
  margin: 16px;
  grid-column-start: 3
}

.saksoversikt__innhold {
  display: grid;
  grid-template-columns: 1fr 22rem min(62rem, calc(100vw - 22rem) ) 22rem 1fr;
}

@media (max-width: 730px){
  .saksoversikt__innhold {
    display: flex;
    flex-direction: column;
  }
}

.saksoversikt__skjul-for-mobil {
  display: block;
}
@media (max-width: 730px) {
  .saksoversikt__skjul-for-mobil {
    display: none;
  }
  .saksoversikt__paginering ul{
    gap: 0;
    margin: 0 auto;
  }
}

.saksoversikt__hjelpetekst {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.2rem;
}
.saksoversikt__knapp {
  display: flex;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: var(--a-blue-500);
}
.saksoversikt__knapp:hover {
  text-decoration: none;
}
.saksoversikt__saksliste-header,
.saksoversikt__saksliste-footer {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.saksoversikt__saksliste-footer {
  flex-wrap: wrap-reverse;
}

.saksoversikt__sortering {
  grid-template-columns: auto auto;
  align-items: center;
}

