@import '~nav-frontend-core/less/_variabler';

.under-meny {
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;

  &__meny-wrapper {
    border-radius: 4px;
    position:relative;
    background-color: white;
    margin-top: 4px;
  }

  &__menyobjekt:hover {
    background-color: @navBla;
    color: white;
  }

  &__menyobjekt:ac {
    background-color: @navBla;
    color: white;
    border: 2px solid black ;
  }

  &__meny {
    padding-right: 1rem;
    border-radius: 0.25rem;
  }

  &__chevron {
    margin-left: 1rem;
    position:absolute;
    right: 1rem;
    top: 0.5rem;

  }

  &__wrapper {
    background-color: transparent;
    border-radius: 0.25rem;
    position: relative;

    &:hover {
      background-color: #ffffff;
    }

  }

  &__hovedknapp {
    background-color: @navLysBlaLighten60;
  }

  &__nedre-button {
    height: 2.5rem;
    background-color: @navLysBlaLighten60;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &__nedre-button:hover {
    background-color: @navBla;
    color: white;
  }

  &__nedre-button:focus {
    box-shadow: 0 0 0 3px @fokusFarge;
    outline: none;
    }

  &__nedre-button-chevron {
    margin: 0rem 0.7rem 0rem 0.7rem;
  }

  &__organisasjon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
    padding: 0.7rem 2rem 0.7rem 1rem;
  }

}

@media (max-width: @screen-md-min) {
  .under-meny {
    width:18rem;
    margin: 0rem 1rem 0rem 1rem;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0rem;

    &__organisasjon {
      display: flex;
      border-bottom: 0.5px solid @navGra60 ;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0.7rem 2rem 0.7rem 1rem;
    }

  }

}