.hovedenhet_container {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    border-bottom: solid 2px var(--a-border-divider);
}

.hovedenhet{
    display: flex;
    justify-content: start;
    padding: .5rem 1rem;
    align-items: center;
}

.hovedenhet > * {
    margin: auto 0;
}

.hovedenhet_innhold{
    display: flex;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.hovedenhet_innhold > svg {
    height: 1.5rem;
}

.hovedenhet_vis-skjul-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-left: 3rem;
}

.hovedenhet_vis-skjul {
    display: flex;
    align-items: center;
    gap: 1rem;
}
