
.virksomheter {
    display: flex;
    flex-direction: column;
}

.virksomheter_container{
    position: relative;
}

.virksomheter_menyknapp {
    border: solid 1px var(--a-text-default);
    border-radius: 0.2rem;
    background: var(--a-bg-default);
    display: flex;
    justify-content: space-between;
    padding: .8rem 0.5rem;
    box-shadow: none;
    width: 100%;
}

.virksomheter_menyknapp svg {
    pointer-events: none;
}

.virksomheter_virksomhetsmeny {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: min(28rem, calc(100vw - 2rem));
    height: 40rem;
    border: solid 2px var(--a-border-alt-3);
    top: 4.5rem;
    background: var(--a-bg-default);
    border-radius: var(--a-border-radius-medium);
    transision: 0.5s border-radius;
    z-index: 10;
}

.virksomheter_virksomhetsmeny:before {
    content: "";
    position: absolute;
    top: calc( -1.414rem / 2 - 1px);
    left: min(15rem, 50%);
    width: 1.5rem;
    height: 1.5rem;
    background: var(--a-bg-default);
    border: solid 2px var(--a-border-alt-3);
    border-color: var(--a-border-alt-3) transparent transparent var(--a-border-alt-3);
    transform: rotate(45deg);
}

@media (max-width: 490px) {
    .virksomheter_container {
        position: unset;
    }

    .virksomheter_virksomhetsmeny {
        left: 0;
        width: 100vw;
    }

    .virksomheter_virksomhetsmeny:before {
        display: none;
    }
}

.saksfilter_vis-valgte {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.virksomheter_virksomhetsmeny_sok {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: solid 2px var(--a-border-divider);
}

.virksomheter_virksomhetsmeny_sok_checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow-y: scroll;
    height: 100%;
    overflow: auto;
}

.virksomheter_virksomhetsmeny_sok_checkbox_underenhet {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    align-items: center;
    border-bottom: solid 2px var(--a-border-divider);
}

.virksomheter_virksomhetsmeny_sok_checkbox_underenheter_innhold {
    display: flex;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.virksomheter_virksomhetsmeny_sok_checkbox_underenheter_tekst {

}

.virksomheter_virksomhetsmeny_footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: solid 2px var(--a-border-divider);
}

.virksomheter_virksomhetsmeny_footer > *  {
    flex: 0 0 29%;
}

.virksomheter_menyknapp:hover {
    border-color: var(--a-border-action);
}

.virksomheter_menyknapp:focus {
    box-shadow: 0 0 0 3px var(--a-border-focus);
    outline: none;
}

.virksomheter_accordation {
    padding: 1rem 0;
}