ul.saks-liste {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul.saks-liste li {
  flex-grow: 1;
}

ul.saks-liste .sakscontainer {
  background: var(--a-bg-default);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 10rem;
}

@media (max-width: 1250px) {
  ul.saks-liste .sakscontainer {
    grid-template-columns: 1fr;
  }
}

ul.saks-liste .sakscontainer .sakscontent {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

ul.saks-liste .sakstekst {
  line-height: var(--a-font-line-height-heading-xsmall);
  font-size: 1.1rem;
}

ul.saks-liste .sakscontainer .saksfrist {
  display: flex;
  align-items: center;
  gap:.2rem;
}

ul.saks-liste .sakscontainer .saksfrist .paminnelse{
  color: var(--a-red-700);
  font-weight: 700;
}

ul.saks-liste .sakscontainer .tidslinje-element {
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-row: repeat(3, auto);
  grid-template-areas:
  "tidspunkt tidspunkt"
  "ikon tittel"
  "linje paaminnelse";
  column-gap: 8px;
}

.tidslinje-element-tidspunkt {
  grid-area: tidspunkt;
}
.tidslinje-element-ikon {
  grid-area: ikon;
}

.tidslinje-element-tittel {
  grid-area: tittel;
}

.oppgave-element-paaminnelse {
  grid-area: paaminnelse;
}

.tidslinje-linje {
  grid-area: linje;
}

.tidslinje-vis-mer-knapp{
  max-width: 8rem;
  padding: 8px 0 0 0 ;
}

.tidslinje-vis-mer {
  display: flex;
  gap: 8px;
}


