ul.saks-liste {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
ul.saks-liste li {
  flex-grow: 1;
}

ul.saks-liste .sakslenkepanel > :first-child{
  width:100%;
}

ul.saks-liste .sakscontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 1250px) {
  ul.saks-liste .sakscontainer {
    grid-template-columns: 1fr;
  }
}

ul.saks-liste .sakscontainer .sakscontent {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

ul.saks-liste .sakstekst {
  line-height: var(--a-font-line-height-heading-xsmall);
  font-size: 1.1rem;
}

ul.saks-liste .sakscontainer .saksfrist {
  display: flex;
  align-items: center;
  gap:.2rem;
}

ul.saks-liste .sakscontainer .saksfrist .paminnelse{
  color: var(--a-red-700);
  font-weight: 700;
}