.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.forside {
  flex-direction: column;
  text-align: center;
  align-conntent: flex-start;
  background-color: #EFEFEF;

}

.overskrift{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #D0DDE5;
  border-bottom-width: 2rem;
  border-bottom-color: #789CB2;
}

.veileder {

  background-color: #C6C2BF;
  height: 55%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.overpanel{
  display: flex;
  justify-content: center;
  background-color: #363636;
  color: #F5F5F5;

}
.nyboks {
  display: flex;
  align-elements: flex-start;
  border-color: #C6C2BF;

  width: 14.625rem;
  height: 16.5625rem;
  flex-direction: column;
  padding-top: 2rem;
}
.nyboks2 {
  width: 32.58rem;
  height: 11.5rem;
}

.nyboks3 {
  width: 14.625rem;
  height: 7.5rem;
}

.nyboks4 {
  width: 32.58rem;
  height: 11.5rem;
  place-self: flex-end;
}

.containerNotifications{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 52.88rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;


}

.containerNotifications2{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 52.88rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;



}

.containerNotifications3{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  width: 52.88rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;



}
.panel overpanel{
   align-self: center;
  backround-color: #F5F5F5;

 }

.hero-banner.daytime{
  max-width: 1178px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  backround-color: #F5F5F5;
  color: #F5F5F5;
}
.container {
  color: #F5F5F5;

}
.img-responsive {
  align-self: center;
}

.menu1{
  color: white;
  font-size: 11px;
}
.menu2{
  color: white;
  font-size: 11px;
}
.menu3{
  color: white;
  font-size: 11px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
