.tjenesteboks {
  display: flex;
  min-height: 8rem;
  max-height: 9rem;


  &__icon {
    max-width: 6rem;
    max-height: 6rem;
  }

  &__tekstboks {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-around;
  }
}

