.tjenesteboks {
  display: flex;


  &__icon {
    min-width: 6rem;
    min-height: 6rem;
  }

  &__tekstboks {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-around;
  }
}

