@import '~nav-frontend-core/less/_variabler';

.arbeidsforhold {
  display: flex;
  width: 100%;
  max-height: 10rem;
  border-bottom: solid 1.5px @navLysGra;
  background-color: white;

  &__liste {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

}