.nyttig-for-deg__bokser {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.nyttig-for-deg__bokser .boks {
  width: 100%;
}
@media (min-width: 768px) {
  .nyttig-for-deg__bokser {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .nyttig-for-deg__bokser .boks {
    width: 49%;
  }
}
