.kontonummer {
    background: var(--a-gray-100);
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    display: grid;
    flex-grow: 1;
}

.kontonummer-tittel{
    display: flex;
    align-items: center;
    gap: 8px;
}