.kontaktinfo{
    background: var(--a-gray-100);
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    display: grid;
    flex-grow: 1;
}

.kontaktinfo li {
    padding: 8px 8px 0 0;
    margin: 0;
    list-style: none;
}

.kontaktinfo ul {
    margin: 0;
    padding: 0;
}

.kontaktinfo-tittel{
    display: flex;
    align-items: center;
    gap: 8px;
}