name: Bygg branch

on:
  push:
    branches:
      - '*'
      - '!master'

env:
  IMAGE_BASE: ghcr.io/${{ github.repository }}/min-side-arbeidsgiver

jobs:
  bygg:
    name: Bygg branch
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: '16.14.2'
          registry-url: https://npm.pkg.github.com/
          cache: 'npm'

      - run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - run: npm run lint

      - run: PUBLIC_URL=https://cdn.nav.no/fager/min-side-arbeidsgiver/ npm run build

      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Bygg, tag og push Docker-image
        run: |
          docker build --tag $IMAGE_BASE:$GITHUB_SHA .
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u $GITHUB_REPOSITORY --password-stdin
          docker push $IMAGE_BASE:$GITHUB_SHA

      - id: upload
        uses: navikt/frontend/actions/cdn-upload/v1@main
        with:
          cdn-team-name: fager
          source: ./build
          destination: '/min-side-arbeidsgiver'
