.tiltakboks .tekstMedTallContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;

  /* This is hack. We are unable to find the right size of inner
   * div, wrt. chevron from design-systemet-component and tjenseteboks-size
   * TODO: spørre designsystem-folk om hvordan dette burde gjøres.
   */
  max-width: 1px;
}

@media (min-width: 460px) and (max-width: 767px), (min-width: 900px){
  .tiltakboks .tekstMedTallContainer {
    grid-template-columns: auto auto auto auto;
  }
}

.tiltakboks .tekstMedTallContainer .antall {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.tiltakboks .avsnitt {
  margin-bottom: 1rem;
}

.tiltakboks .tekst {
  margin-right: 2rem;
}

.tiltakboks .antall {
  justify-self: right;
}
